.header{ 
   border-bottom: 1px solid black;
   border-top: 1px solid black;
   margin-bottom: 5px;
   text-align: center;
}
.ref{
    font-size: 18px;
    border-right: 1px solid black;
    margin: 10px 0 10px 0;
}
.ref-icon{
    margin: 10px 0 10px 0;
}
.col{
    margin-top: 20px;
}
.photo{
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 280px;
    max-height: 280px;
}
.border-btm{
    border-bottom: 1px solid black;
}
/*If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1001px) {
    
}
  
/*If the screen size is 1100px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1000px) and (min-width: 768px) {
    .photo{
        max-width: 220px;
        max-height: 220px;
    }
}
  